In [1]:
tup1 = ("Hello",["Varun K"], "Mysterious Person", (1), "Surprised")

In [2]:
tup1

('Hello', ['Varun K'], 'Mysterious Person', 1, 'Surprised')

In [3]:
type(tup1)

tuple

In [25]:
for i in range(len(tup1)):
    print(tup1[i], type(tup1[i]), end = " ")
    print("\n")

Hello <class 'str'>

['Varun K'] <class 'list'>

Mysterious Person <class 'str'>

1 <class 'int'>

Surprised <class 'str'>

In [8]:
tup1[1]

['Varun K']

In [13]:
tup1[1][0][:5]

'Varun'

In [19]:
tup1[:]

('Hello', ['Varun K'], 'Mysterious Person', 1, 'Surprised')

In [21]:
tup1[: : -1] #Reversing a tuple

('Surprised', 1, 'Mysterious Person', ['Varun K'], 'Hello')

In [22]:
tup1[: : -1]

TypeError: tuple indices must be integers or slices, not tuple

In [23]:
for i in range(1, len(tup1)+1):
    print(tup1[-i], end = "\t")

Surprised	1	Mysterious Person	['Varun K']	Hello

In [26]:
t1 = (1, 2, 3, 4, 5)

In [27]:
t1 * 3

(1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

In [29]:
t2 = (9,10,11,12,13)

In [30]:
t3 = t1 + t2
t3

(1, 2, 3, 4, 5, 9, 10, 11, 12, 13)

In [31]:
t4 = (t1, t2)
t4

((1, 2, 3, 4, 5), (9, 10, 11, 12, 13))

In [32]:
del(t4)

SETS

In [33]:
s1 = {}
type(s1)

dict

In [34]:
s2 = {1,2,3,3,4,5,6,1,2,3}

In [35]:
s2

{1, 2, 3, 4, 5, 6}

In [36]:
type(s2)

set

In [41]:
s3 = {(1,2,3,4), "Life is Mysterious", ["Unexpected", "happen"], True, 3.45}

TypeError: unhashable type: 'list'

In [1]:
s3 = {(1,2,3,4), "Life is Mysterious", True, 3.45,}

In [2]:
s3

{(1, 2, 3, 4), 3.45, 'Life is Mysterious', True}

In [3]:
for i in range(len(s3)):
    print(s3[i])

TypeError: 'set' object is not subscriptable

In [4]:
for i in s3:
    print(i)

(1, 2, 3, 4)
True
3.45
Life is Mysterious

In [5]:
s3.add("Begining of New Life")

In [6]:
s3

{(1, 2, 3, 4), 3.45, 'Begining of New Life', 'Life is Mysterious', True}

In [35]:
s3.pop() #It pops out the element dynamically without sequence based on the hashing it has created.

'Life is Mysterious'

In [34]:
s3.pop()

'Begining of New Life'

In [10]:
s3

{(1, 2, 3, 4), 3.45, 'Begining of New Life', 'Life is Mysterious'}

In [11]:
s3.remove(3.45) #remove method removes a particular element from the set.

In [12]:
s3

{(1, 2, 3, 4), 'Begining of New Life', 'Life is Mysterious'}

In [13]:
s4 = {67, 98, 110.10, "Life is changable", True}

In [16]:
s5 = s3.difference(s4) # Difference method takes all the elements of a set over which it is applied instead of taking elements from the set which is passed as an argument inside the difference method.

In [17]:
s5

{(1, 2, 3, 4), 'Begining of New Life', 'Life is Mysterious'}

In [18]:
s5 = s3.copy()

In [19]:
s5

{(1, 2, 3, 4), 'Begining of New Life', 'Life is Mysterious'}

In [20]:
s5 = s3.difference_update(s4) # original set gets updated with difference applied to the set.

In [21]:
s5

In [23]:
s6 = {67, 98, 110.10, "Life is changable", True, (1, 2, 3, 4), 3.45}

In [24]:
s6

{(1, 2, 3, 4), 110.1, 3.45, 67, 98, 'Life is changable', True}

In [25]:
s6.intersection(s4)

{110.1, 67, 98, 'Life is changable', True}

In [27]:
s6.discard(98)

In [28]:
s6

{110.1, 67, 'Life is changable', True}

In [29]:
s6.intersection_update(s4) # original set gets updated with intersection applied to the set.

In [30]:
s6

{110.1, 67, 'Life is changable', True}

In [32]:
s6.update("Mystery") # Update method updates single string element inside the sets.

In [33]:
s6

{110.1, 67, 'Life is changable', 'M', True, 'e', 'r', 's', 't', 'y'}

In [36]:
s6.clear() # It will create an empty set, it will remove all the elements from the set.

In [37]:
s6

set()

In [38]:
s3.difference(s4)

{(1, 2, 3, 4)}

Dictionary

In [30]:
d = {"love":"Varun K", "life": ["new begining", "new chapter", "must goes on", "engaging in the activities", "taking breath"]}

In [31]:
d

{'love': 'Varun K',
 'life': ['new begining',
  'new chapter',
  'must goes on',
  'engaging in the activities',
  'taking breath']}

In [32]:
d["life"][0]

'new begining'

In [33]:
emp = {"name" : ["deepika goel", "neha", "rakhi", "Anjily"], 
       "email" : ("goeld9911@gmail.com", "xyz@gmail.com", "abc@gmail.com", "ghy@gmail.com"),
       "mobile_num" : ("XXXXXX7080", "XXXXXX9876", "XXXXXXX3245", "XXXXXX6754")}

In [34]:
emp["name"]

['deepika goel', 'neha', 'rakhi', 'Anjily']

In [35]:
emp.keys()

dict_keys(['name', 'email', 'mobile_num'])

In [36]:
emp.values()

dict_values([['deepika goel', 'neha', 'rakhi', 'Anjily'], ('goeld9911@gmail.com', 'xyz@gmail.com', 'abc@gmail.com', 'ghy@gmail.com'), ('XXXXXX7080', 'XXXXXX9876', 'XXXXXXX3245', 'XXXXXX6754')])

In [37]:
emp.items()

dict_items([('name', ['deepika goel', 'neha', 'rakhi', 'Anjily']), ('email', ('goeld9911@gmail.com', 'xyz@gmail.com', 'abc@gmail.com', 'ghy@gmail.com')), ('mobile_num', ('XXXXXX7080', 'XXXXXX9876', 'XXXXXXX3245', 'XXXXXX6754'))])

In [38]:
d1 = {_:"neha"}

TypeError: unhashable type: 'dict_items'

In [39]:
d2 = {("name", "email", "mob_num") : ("deepika", "goeld9911@gmail.com", "9871459756")}

In [40]:
d2

{('name', 'email', 'mob_num'): ('deepika',
  'goeld9911@gmail.com',
  '9871459756')}

In [41]:
d2["name", "email", "mob_num"]

('deepika', 'goeld9911@gmail.com', '9871459756')

In [42]:
emp["state"] = {"Delhi", "Maharashtra", "Uttar Pradesh", "Punjab", "Karnataka"}

In [43]:
emp

{'name': ['deepika goel', 'neha', 'rakhi', 'Anjily'],
 'email': ('goeld9911@gmail.com',
  'xyz@gmail.com',
  'abc@gmail.com',
  'ghy@gmail.com'),
 'mobile_num': ('XXXXXX7080', 'XXXXXX9876', 'XXXXXXX3245', 'XXXXXX6754'),
 'state': {'Delhi', 'Karnataka', 'Maharashtra', 'Punjab', 'Uttar Pradesh'}}

In [44]:
emp["name"] = ["Akshita", "Anamika", "Randhika", "Geetika"] # Updating the keys with the new values.

In [45]:
emp

{'name': ['Akshita', 'Anamika', 'Randhika', 'Geetika'],
 'email': ('goeld9911@gmail.com',
  'xyz@gmail.com',
  'abc@gmail.com',
  'ghy@gmail.com'),
 'mobile_num': ('XXXXXX7080', 'XXXXXX9876', 'XXXXXXX3245', 'XXXXXX6754'),
 'state': {'Delhi', 'Karnataka', 'Maharashtra', 'Punjab', 'Uttar Pradesh'}}

In [50]:
for key, value in emp.items():
    print(key, value, end = "\n")

name ['Akshita', 'Anamika', 'Randhika', 'Geetika']
email ('goeld9911@gmail.com', 'xyz@gmail.com', 'abc@gmail.com', 'ghy@gmail.com')
mobile_num ('XXXXXX7080', 'XXXXXX9876', 'XXXXXXX3245', 'XXXXXX6754')
state {'Uttar Pradesh', 'Maharashtra', 'Punjab', 'Delhi', 'Karnataka'}

In [52]:
del(emp["name"])

In [53]:
emp

{'email': ('goeld9911@gmail.com',
  'xyz@gmail.com',
  'abc@gmail.com',
  'ghy@gmail.com'),
 'mobile_num': ('XXXXXX7080', 'XXXXXX9876', 'XXXXXXX3245', 'XXXXXX6754'),
 'state': {'Delhi', 'Karnataka', 'Maharashtra', 'Punjab', 'Uttar Pradesh'}}

In [54]:
emp["name"] = ["Akshita", "Anamika", "Randhika", "Geetika"] # Updating the keys with the new values.

In [55]:
emp["name"][0]

'Akshita'

In [56]:
del(emp["name"][0])

In [57]:
emp

{'email': ('goeld9911@gmail.com',
  'xyz@gmail.com',
  'abc@gmail.com',
  'ghy@gmail.com'),
 'mobile_num': ('XXXXXX7080', 'XXXXXX9876', 'XXXXXXX3245', 'XXXXXX6754'),
 'state': {'Delhi', 'Karnataka', 'Maharashtra', 'Punjab', 'Uttar Pradesh'},
 'name': ['Anamika', 'Randhika', 'Geetika']}

In [59]:
len(emp["mobile_num"])

4

In [60]:
len(emp)

4

In [64]:
w = list(emp.items())

In [65]:
w

[('email',
  ('goeld9911@gmail.com', 'xyz@gmail.com', 'abc@gmail.com', 'ghy@gmail.com')),
 ('mobile_num', ('XXXXXX7080', 'XXXXXX9876', 'XXXXXXX3245', 'XXXXXX6754')),
 ('state', {'Delhi', 'Karnataka', 'Maharashtra', 'Punjab', 'Uttar Pradesh'}),
 ('name', ['Anamika', 'Randhika', 'Geetika'])]

In [66]:
y = dict(w)
y

{'email': ('goeld9911@gmail.com',
  'xyz@gmail.com',
  'abc@gmail.com',
  'ghy@gmail.com'),
 'mobile_num': ('XXXXXX7080', 'XXXXXX9876', 'XXXXXXX3245', 'XXXXXX6754'),
 'state': {'Delhi', 'Karnataka', 'Maharashtra', 'Punjab', 'Uttar Pradesh'},
 'name': ['Anamika', 'Randhika', 'Geetika']}

In [72]:
emp = emp1.copy()

In [73]:
emp1

{'email': ('goeld9911@gmail.com',
  'xyz@gmail.com',
  'abc@gmail.com',
  'ghy@gmail.com'),
 'mobile_num': ('XXXXXX7080', 'XXXXXX9876', 'XXXXXXX3245', 'XXXXXX6754'),
 'state': {'Delhi', 'Karnataka', 'Maharashtra', 'Punjab', 'Uttar Pradesh'},
 'name': ['Anamika', 'Randhika', 'Geetika']}

In [74]:
emp.pop("name")

['Anamika', 'Randhika', 'Geetika']

In [76]:
emp.fromkeys(")

{'s': None, 't': None, 'a': None, 'e': None}

In [79]:
emp2 =  emp + emp1

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [80]:
emp2 = emp * 2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [81]:
emp2 = (emp1, emp)

In [82]:
emp2

({'email': ('goeld9911@gmail.com',
   'xyz@gmail.com',
   'abc@gmail.com',
   'ghy@gmail.com'),
  'mobile_num': ('XXXXXX7080', 'XXXXXX9876', 'XXXXXXX3245', 'XXXXXX6754'),
  'state': {'Delhi', 'Karnataka', 'Maharashtra', 'Punjab', 'Uttar Pradesh'},
  'name': ['Anamika', 'Randhika', 'Geetika']},
 {'email': ('goeld9911@gmail.com',
   'xyz@gmail.com',
   'abc@gmail.com',
   'ghy@gmail.com'),
  'mobile_num': ('XXXXXX7080', 'XXXXXX9876', 'XXXXXXX3245', 'XXXXXX6754'),
  'state': {'Delhi', 'Karnataka', 'Maharashtra', 'Punjab', 'Uttar Pradesh'}})

In [1]:
temp1 = {"games":{"hide and seek", "ludo", "chess"}, "hobbies":("listening music", "watching tv")}

In [2]:
temp2 = {"game":{"badminton", "table tennis"}, "hobby" : ("replicate dance steps", "swimming")}

In [3]:
temp1

{'games': {'chess', 'hide and seek', 'ludo'},
 'hobbies': ('listening music', 'watching tv')}

In [4]:
temp2

{'game': {'badminton', 'table tennis'},
 'hobby': ('replicate dance steps', 'swimming')}

In [5]:
temp1.update(temp2)

In [6]:
temp1

{'games': {'chess', 'hide and seek', 'ludo'},
 'hobbies': ('listening music', 'watching tv'),
 'game': {'badminton', 'table tennis'},
 'hobby': ('replicate dance steps', 'swimming')}

In [8]:
temp1.get("game") # get method is used to get the "game" (key) name values from a dictionary.

{'badminton', 'table tennis'}

Dictionary Comprehensions

In [10]:
d = dict()

for i in range(1, 11):
    d[i] = i**2

In [11]:
d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [12]:
{i : i ** 2 for i in range (1, 11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [14]:
import math

d = {i : round(math.log10(i),3) for i in range(1,11)}
d

{1: 0.0,
 2: 0.301,
 3: 0.477,
 4: 0.602,
 5: 0.699,
 6: 0.778,
 7: 0.845,
 8: 0.903,
 9: 0.954,
 10: 1.0}

In [15]:
"games" in temp1

True

In [19]:
for i in range(1, len(d)+1):
    if i % 2 == 0:
        print(i, d[i], end = "\t")
        print("\n")

2 0.301

4 0.602

6 0.778

8 0.903

10 1.0

In [11]:
l1 = [i for i in range(1, 3)] # List1 has 2 elements
l2 = [i ** 2 for i in range(1, 5)] # List2 has 4 elements

d = dict(zip(l1, l2)) # Converting lisr into a dictionary using zip method will take 2 elements as per the items which are lower in either of the list.

In [12]:
l1

[1, 2]

In [13]:
d

{1: 1, 2: 4}

In [14]:
d = dict(zip(l2, l1))

In [15]:
d

{1: 1, 4: 2}

In [16]:
d1 = {"student": ["me", "xyz", "abc"], "email": ("xyz@gmail.com", "abc@gmail.com"), "mob":""}

In [17]:
d1

{'student': ['me', 'xyz', 'abc'],
 'email': ('xyz@gmail.com', 'abc@gmail.com'),
 'mob': ''}

In [20]:
l = list(zip(d1.items()))

In [21]:
l

[(('student', ['me', 'xyz', 'abc']),),
 (('email', ('xyz@gmail.com', 'abc@gmail.com')),),
 (('mob', ''),)]

In [34]:

for i in l:
    for j in i:
        for k in j:
            print(k)

student
['me', 'xyz', 'abc']
email
('xyz@gmail.com', 'abc@gmail.com')
mob

In [52]:
l[0][0][1]

IndexError: tuple index out of range

In [111]:

l3, l4 = [], []
for i in range (len(l)):
    # print(i)
    for j in range(len(l[i])):
        # print(j)
        for k in range (len(l[i][j])):
            # print(len(l)-2)
            if k == 0:
                l3.append(l[i][j][k])
            if k == 1:
                l4.append(l[i][j][k])
            print (l[i][j][k])
            # for t in range(len(l[k])):
            #     print(l[i][j][k])

student
['me', 'xyz', 'abc']
email
('xyz@gmail.com', 'abc@gmail.com')
mob

In [112]:
l3

['student', 'email', 'mob']

In [113]:
l4

[['me', 'xyz', 'abc'], ('xyz@gmail.com', 'abc@gmail.com'), '']

In [108]:
d2 = dict(zip(l3, l4))
d2

{'student': ['me', 'xyz', 'abc'],
 'email': ('xyz@gmail.com', 'abc@gmail.com'),
 'mob': ''}

In [109]:
print(l[0][0][1])
print(d2.items())

['me', 'xyz', 'abc']
dict_items([('student', ['me', 'xyz', 'abc']), ('email', ('xyz@gmail.com', 'abc@gmail.com')), ('mob', '')])

In [110]:
print(l[1][0][1])

('xyz@gmail.com', 'abc@gmail.com')