In [1]:
def func1():

SyntaxError: incomplete input (422752300.py, line 2)

In [2]:
def func1():
    pass # to avoid syntaxerror we can use pass keyword if nothing is written inside a function. For example, we just have to give definition of a function and the later provides the complete information so we can use "pass" keyword.

In [3]:
def func():
    print("Hello Varun!!!!")

In [4]:
func() + "Good Morning"

Hello Varun!!!!

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [5]:
def func():
    return "Hello Varun!!!!"

In [6]:
f1 = func()

In [7]:
f1 + "Good Morning"

'Hello Varun!!!!Good Morning'

In [8]:
func() + "Good Morning"

'Hello Varun!!!!Good Morning'

In [10]:
def test2():
    return 1,2,3, "I Love You Varun K!!!", True, 3.45, (1,2,3,4), ["a", "b", "c"], {"life":"young"}, {1,2,3,4}

In [11]:
test2()

(1,
 2,
 3,
 'I Love You Varun K!!!',
 True,
 3.45,
 (1, 2, 3, 4),
 ['a', 'b', 'c'],
 {'life': 'young'},
 {1, 2, 3, 4})

In [12]:
a = 1,2,3, 
a  # By default operator assignment data-type is tuple if we have multiple elements.

(1, 2, 3)

In [14]:
a, b, c, d = 1, 2, 3.45, True

In [16]:
print(a, b, c, d, sep="<<<", end = "\n")

1<<<2<<<3.45<<<True

In [19]:
test2()[3]

'I Love You Varun K!!!'

In [20]:
a, b, c, d = test2()

ValueError: too many values to unpack (expected 4)

In [5]:
def fact1(n):
    fact = 1
    while(n > 0):
        num = n
        num = num * 1
        fact = fact * num
        n -= 1
    return fact

In [6]:
num = int(input("Enter the number of which Factorial has to be find out"))

f = fact1(num)

print("Factorial of a number is", f)

Enter the number of which Factorial has to be find out 5

Factorial of a number is 120

In [2]:
l = [1,2,3,4,5, "varun", "deepika", 4.5, 4+5j, [5, 6, 7, 8.5], (1, 2, 3, True, 7.9)]

In [3]:
def func2(l):
    v = []
    for i in range(len(l)):
        if type(l[i]) == int:
            v.append(l[i])
        elif type(l[i]) == float:
            v.append(l[i])
        elif type(l[i]) == complex:
            v.append(l[i])
    return v

In [4]:
func2(l)

[1, 2, 3, 4, 5, 4.5, (4+5j)]

In [5]:
type(4+5j)

complex

In [14]:
def func2(l):
    print("List", l)
    v = []
    for i in l:
        # print(i)
        if type(i) == list:
            for j in i:
                # print(j)
                if type(j) == int:
                    v.append(j)
                elif type(j) == float:
                    v.append(j)
                elif type(j) == complex:
                    v.append(j)
        elif type(i) == tuple:
            for j in i:
                # print(j)
                if type(j) == int:
                    v.append(j)
                elif type(j) == float:
                    v.append(j)
                elif type(j) == complex:
                    v.append(j)
        if type(i) == int:
            v.append(i)
        elif type(i) == float:
            v.append(i)
        elif type(i) == complex:
            v.append(i)

    return v

In [15]:
func2(l)

List [1, 2, 3, 4, 5, 'varun', 'deepika', 4.5, (4+5j), [5, 6, 7, 8.5], (1, 2, 3, True, 7.9)]

[1, 2, 3, 4, 5, 4.5, (4+5j), 5, 6, 7, 8.5, 1, 2, 3, 7.9]

In [25]:
def func2(l):
    
    v = []

    for i in range(len(l)):
        
        if type(l[i]) == list:
            # print("list", l[i])
            for j in range(len(l[i])):
                
                if type(l[i][j]) == int:
                    v.append(l[i][j])
                elif type(l[i][j]) == float:
                    v.append(l[i][j])
                elif type(l[i][j]) == complex:
                    v.append(l[i][j])

        if type(l[i]) == tuple:
            for j in range(len(l[i])):
                
                if type(l[i][j]) == int:
                    v.append(l[i][j])
                elif type(l[i][j]) == float:
                    v.append(l[i][j])
                elif type(l[i][j]) == complex:
                    v.append(l[i][j])
        
        if type(l[i]) == int:
            v.append(l[i])
        elif type(l[i]) == float:
            v.append(l[i])
        elif type(l[i]) == complex:
            v.append(l[i])

    return v

In [26]:
func2(l)

[1, 2, 3, 4, 5, 4.5, (4+5j), 5, 6, 7, 8.5, 1, 2, 3, 7.9]

In [24]:
l

[1,
 2,
 3,
 4,
 5,
 'varun',
 'deepika',
 4.5,
 (4+5j),
 [5, 6, 7, 8.5],
 (1, 2, 3, True, 7.9)]

In [27]:
def fib_series(n, m):
    y = [n, m]
    while(n <= 5):
        x = n + m
        y.append(x)
        n = m
        m = x
    return y

In [28]:
fib_series(0, 1)

[0, 1, 1, 2, 3, 5, 8, 13]

Arbitrary Arguments:
While creating a function, pass a * before the parameter name while defining the function. The function accesses the arguments by processing them in the form of tuple.

Return type of a function is tuple. We have to typecast the argument values at the starting point of time only. Also, while calling a function we can pass the list, tuples, strings as an arguments.

In [61]:
def fib_series(*num):
    a = int(num[0])
    b = int(num[1])
    y = [a, b]
    while(a <= 5):
        x = a + b
        y.append(x)
        a = b
        b = x
    return y

In [63]:
a = 0
b = 1
fib_series(a, b)

[0, 1, 1, 2, 3, 5, 8, 13]

############## Keyword Arbitrary Arguments #######################
#### While creating a function, pass a * before the parameter name while defining the function. The function accesses the arguments by processing them in the form of dictionary. 

We have to pass keys and its corresponding values while calling a function. Return type of a function is dictionary.

In [68]:
def emp_details(**emp):
    # d = dict()
    # d["name"] = emp["name"]
    # d["mob"] = emp["mob"]
    # d["email"] = emp["email"]
    # d["address"] = emp["address"]
    # return d
    return emp
    # print(emp[0], emp[1], emp[2], emp[3])

In [70]:
name = "Deepika"
mob = "XXXXXXX"
email = "xxxx@gmail.com"
address = "yyyyyyy"
emp_details(name = {"varun", "deepika", "xyz"}, mob = {"123", "456", "789"}, email = {"1@gmail.com", "2@gmail.com", "3@gmail.com"}, address= {"1", "2", "3"})

{'name': {'deepika', 'varun', 'xyz'},
 'mob': {'123', '456', '789'},
 'email': {'1@gmail.com', '2@gmail.com', '3@gmail.com'},
 'address': {'1', '2', '3'}}

In [71]:
emp_details(name = 'deepika', mob = "XXXXXXX", email = "xxxx@gmail.com", address = "yyyyyyy")

{'name': 'deepika',
 'mob': 'XXXXXXX',
 'email': 'xxxx@gmail.com',
 'address': 'yyyyyyy'}

In [75]:
emp_details(name = {"varun", "deepika", "xyz"}, mob = ("123", "456", "789"), email = ("1@gmail.com", "2@gmail.com", "3@gmail.com"), address= ["1", "2", "3"])

{'name': {'deepika', 'varun', 'xyz'},
 'mob': ('123', '456', '789'),
 'email': ('1@gmail.com', '2@gmail.com', '3@gmail.com'),
 'address': ['1', '2', '3']}

In [105]:
def emp1(*args, **kwargs):
    m = []
    # print("Arguments", args)
    # print("Keyword Arguments", kwargs)
    for i in args:
        if type(i) == list:
            # print(i)
            for j in i:
                if type(j) == int:
                    m.append(j)  

        if type(i) == tuple:
            # print(i)
            for j in i:
                if type(j) == int:
                    m.append(j)
    

    for i in kwargs.values():
        
        if type(i) == tuple or type(i) == list:
            for j in i:
                if type(j) == int:
                    m.append(j)
    return m

In [106]:
emp1((1,2,3),"name","email", 3.45, 3+4j, [9, 10], name = {"varun", "deepika", "xyz"}, mob = (123, 456, 789), email = ("1@gmail.com", "2@gmail.com", "3@gmail.com"), address= [1, 2, 3])

[1, 2, 3, 9, 10, 123, 456, 789, 1, 2, 3]

In [171]:
def emp1(*args, **kwargs):
    m = []
    l = []
    v = []
    d = {}
    # print("Arguments", args)
    # print("Keyword Arguments", kwargs)
    for i in args:
        if type(i) == list:
            # print(i)
            for j in i:
                if type(j) == int:
                    m.append(j)
    
        if type(i) == tuple:
            # print(i)
            for j in i:
                if type(j) == int:
                    v.append(j)
        v = tuple(v)
        # print("V", type(v))
    

    if type(m) == list:
        l.insert(0, m) 
    if type(v) == tuple:
        l.insert(1, v)
    if type(d) == dict:
        l.insert(2, d)

    # print("D", type(d), d)
    
    
    for (i, j) in kwargs.items():
        # print(i)
        if type(j) == list:
            for k in j:
                print(j)
                if type(k)== int:
                    d[i] = j
    return l

In [172]:
emp1((1,2,3),"name","email", 3.45, 3+4j, [9, 10], name = {"varun", "deepika", "xyz"}, mob = (123, 456, 789), email = ("1@gmail.com", "2@gmail.com", "3@gmail.com"), address = [1, 2, 3])

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]

[[9, 10], (1, 2, 3), {'address': [1, 2, 3]}]

Function Generator using Yield Keyword

In [187]:
def table (num):
    for i in range (1, 21):
        yield (num * i)

In [188]:
for i in table(5):
    print(i, end = "\n")

5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95
100

In [191]:
def table (num):
    for i in range (1, 21):
        yield (str(num) + " X " + str(i) + " = " + str(num * i))

In [192]:
for i in table(5):
    print(i, end = "\n")

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50
5 X 11 = 55
5 X 12 = 60
5 X 13 = 65
5 X 14 = 70
5 X 15 = 75
5 X 16 = 80
5 X 17 = 85
5 X 18 = 90
5 X 19 = 95
5 X 20 = 100

Lambda Function: This function is without a name.

Syntax:
func_name = lambda arguments: expression

In [194]:
lst = [1,9,7,10,7,89,55,34,20,99,2]

f1 = sorted(lst, key = lambda a: float(a))

In [195]:
f1

[1, 2, 7, 7, 9, 10, 20, 34, 55, 89, 99]

In [198]:
v = list(filter(lambda z: z % 2 == 0, f1))
v

[2, 10, 20, 34]

In [200]:
b = list(map(lambda z: z+10, lst))
b

[11, 19, 17, 20, 17, 99, 65, 44, 30, 109, 12]

Using FOR LOOP

In [205]:
a = lambda x : [x * i for i in range(1, 11)]

In [206]:
a(10)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [213]:
num = lambda a, b : max(a, b)

In [214]:
num(10, 20)

20

Using IF ELSE CONDITION

In [215]:
max_two = lambda a, b : a if a > b else b

In [216]:
max_two(10, 20)

20

In [229]:
l = "New Beginning of Life!!!"

t = lambda l : [i for i in l]

In [238]:
print(t(l), end = " ")

['N', 'e', 'w', ' ', 'B', 'e', 'g', 'i', 'n', 'n', 'i', 'n', 'g', ' ', 'o', 'f', ' ', 'L', 'i', 'f', 'e', '!', '!', '!']

In [245]:
sum = lambda a, b: a + b

In [246]:
sum (45, 67)

112

In [247]:
sq = lambda x : [i **2 for i in x] # Single line anonymous function using lambda

In [248]:
sq([1,2,3,4,5,6])

[1, 4, 9, 16, 25, 36]

In [261]:
lst = [1, 2, 3, 4, 5]
sq1 = list(map(lambda x: x **2, lst)) # For loop is not going to run with the map function. All elements can be accessed from a list using map function.

In [262]:
sq1

[1, 4, 9, 16, 25]

In [267]:
l = list(map(lambda x: str(x), sq1))

In [268]:
l

['1', '4', '9', '16', '25']

In [269]:
l1 = [1, 2, 3, 4, 5]
l2 = [6, 7, 8, 9, 10]

l3 = list(map(lambda v, d: v + d, l1, l2))

In [270]:
l3

[7, 9, 11, 13, 15]

In [273]:
def sum_two(a, b):
    l3 = []
    if len(a) == len(b):
        for i in range(len(a)):
            l3.append(a[i] + b [i])

    return l3

In [274]:
sum_two(l1, l2)

[7, 9, 11, 13, 15]

In [276]:
q = list(map(lambda x, y: x + y, l1, l2))
q

[7, 9, 11, 13, 15]

In [277]:
from functools import reduce

In [278]:
reduce(lambda a, b: a +b , q)

55

In [279]:
b = reduce (lambda v, d : v + d, l1) + reduce (lambda v, d : v + d, l2)

In [280]:
b

55

In [284]:
reduce(lambda x, y : x if x > y else y , q)

15

In [285]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [287]:
list(filter(lambda x: x % 2 == 0, l))

[2, 4, 6, 8, 10]

In [288]:
varun = [i for i in range(1, 10)]
deepika = [-i for i in range(1, 10)]

In [289]:
varun

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [290]:
deepika

[-1, -2, -3, -4, -5, -6, -7, -8, -9]

In [291]:
list(filter(lambda v: v < 5, varun))

[1, 2, 3, 4]

In [293]:
list(filter(lambda d: d < -7, deepika))

[-8, -9]

In [294]:
text = ['deepika', 'neha', 'anjily', 'ritu', 'divya', 'deeksha']

In [297]:
list(filter(lambda t: t[0] == 'd', text))

['deepika']