In [1]:
import pymongo

client = pymongo.MongoClient("mongodb+srv://root:root@cluster0.qbuvjxq.mongodb.net/")

In [2]:
client

MongoClient(host=['ac-lvp2oz9-shard-00-00.qbuvjxq.mongodb.net:27017', 'ac-lvp2oz9-shard-00-01.qbuvjxq.mongodb.net:27017', 'ac-lvp2oz9-shard-00-02.qbuvjxq.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, authsource='admin', replicaset='atlas-12tift-shard-0', tls=True)

In [3]:
db = client["test"]  #Creating the database in client(connection) inside Mongo DB named as "test". No database named as "test" would appear inside the Mongo DB as it contains no data.

In [4]:
coll_cr = db["prac_record"] #creating a collection inside the database "test" of Mongo DB. No collection named as "test" would appear inside the database as it contains no data.

In [5]:
data = {
    "name" : "deepika",
    "email" : "xyz@gmail.com",
    "education" : "mtech",
    "state" : "Uttar Pradesh"
}

In  Mongo DB, data whatever we try to store inside the collection is called as "json" object (documents/records/dictionary).

In [6]:
coll_cr.insert_one(data)  # storing single entry of the data inside the collection of Mongo DB, if we want to store more entries then we can use "insert_many()".

In [7]:
data1 = [{
    "school": "KV Andrews Ganj",
    "favourite_subject": "Maths",
    "hobby" : "music",
},
{
    "love": "varun",
    "place": "Noida",
    "food": "chinese",
    "dishes": "cake"
}]

In [8]:
coll_cr.insert_many(data1)

In [9]:
data3 = {
    "course" : ["AI-ML", "Python", "English", "Socialogy", "Psychology", "MBA"],
    "subject": ["Maths", "Hindi", "Sanskrit"]
}

In [10]:
coll_cr.insert_one(data3)  # storing single entry of the data inside the collection of Mongo DB, if we want to store more entries then we can use "insert_many()".

In [11]:
 data3 = [
  { "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [12]:
coll_cr.insert_many(data3)  # storing single entry of the data inside the collection of Mongo DB, if we want to store more entries then we can use "insert_many()".

In [13]:
data4 = {
 "name": "notebook",
 "qty": 50,
 "rating": [ { "score": 8 }, { "score": 9 } ],
 "size": { "height": 11, "width": 8.5, "unit": "in" },
 "status": "A",
 "tags": [ "college-ruled", "perforated"]
}

In [14]:
coll_cr.insert_one(data4)

In [15]:
col1 = db["new_record"] #creating a collection inside the database "test" of Mongo DB. No collection named as "test" would appear inside the database as it contains no data.

In [16]:
list_of_records = [
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Machine Learning with Deployment'},
    
    {'companyName': 'iNeuron',
     'product': 'Affordable AI',
     'courseOffered': 'Deep Learning for NLP and Computer vision'},
    
    {'companyName': 'iNeuron',
     'product': 'Master Program',
     'courseOffered': 'Data Science Masters Program'}
]

In [17]:
col1.insert_many(list_of_records)

In [18]:
# To show all the document records of the collections we have to iterate over all the records and use the "find" method on the top of it.

for i in coll_cr.find():
    print(i)

{'_id': ObjectId('662a8a0ba322ef8ed2f195bd'), 'name': 'deepika', 'email': 'xyz@gmail.com', 'education': 'mtech', 'state': 'Uttar Pradesh'}
{'_id': ObjectId('662a8bdba322ef8ed2f195be'), 'school': 'KV Andrews Ganj', 'favourite_subject': 'Maths', 'hobby': 'music'}
{'_id': ObjectId('662a8bdba322ef8ed2f195bf'), 'love': 'varun', 'place': 'Noida', 'food': 'chinese', 'dishes': 'cake'}
{'_id': ObjectId('662a8d15a322ef8ed2f195c0'), 'course': ['AI-ML', 'Python', 'English', 'Socialogy', 'Psychology', 'MBA'], 'subject': ['Maths', 'Hindi', 'Sanskrit']}
{'_id': ObjectId('662a9122a322ef8ed2f195c1'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('662a9122a322ef8ed2f195c2'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('662a9122a322ef8ed2f195c3'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('662a9122a322ef8ed2f195c4'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('662a9122a322ef8ed2f195c5'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('662a9122a322ef8ed2f195c6'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('662a9122a322ef8ed2f195c7'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('662a9122a322ef8ed2f195c8'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('662a9122a322ef8ed2f195c9'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('662a9122a322ef8ed2f195ca'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('662a9122a322ef8ed2f195cb'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('662a9122a322ef8ed2f195cc'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('662a915ea322ef8ed2f195cd'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('662b3cdcc0c8d54b83627b04'), 'name': 'deepika', 'email': 'xyz@gmail.com', 'education': 'mtech', 'state': 'Uttar Pradesh'}
{'_id': ObjectId('662b3cddc0c8d54b83627b05'), 'school': 'KV Andrews Ganj', 'favourite_subject': 'Maths', 'hobby': 'music'}
{'_id': ObjectId('662b3cddc0c8d54b83627b06'), 'love': 'varun', 'place': 'Noida', 'food': 'chinese', 'dishes': 'cake'}
{'_id': ObjectId('662b3cdec0c8d54b83627b07'), 'course': ['AI-ML', 'Python', 'English', 'Socialogy', 'Psychology', 'MBA'], 'subject': ['Maths', 'Hindi', 'Sanskrit']}
{'_id': ObjectId('662b3cdec0c8d54b83627b08'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('662b3cdec0c8d54b83627b09'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('662b3cdec0c8d54b83627b0a'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('662b3cdec0c8d54b83627b0b'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('662b3cdec0c8d54b83627b0c'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('662b3cdec0c8d54b83627b0d'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('662b3cdec0c8d54b83627b0e'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('662b3cdec0c8d54b83627b0f'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('662b3cdec0c8d54b83627b10'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('662b3cdec0c8d54b83627b11'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('662b3cdec0c8d54b83627b12'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('662b3cdec0c8d54b83627b13'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('662b3cdfc0c8d54b83627b14'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}
{'_id': ObjectId('662b4bc7487f77713d9c251e'), 'name': 'deepika', 'email': 'xyz@gmail.com', 'education': 'mtech', 'state': 'Uttar Pradesh'}
{'_id': ObjectId('662b4bc9487f77713d9c251f'), 'school': 'KV Andrews Ganj', 'favourite_subject': 'Maths', 'hobby': 'music'}
{'_id': ObjectId('662b4bc9487f77713d9c2520'), 'love': 'varun', 'place': 'Noida', 'food': 'chinese', 'dishes': 'cake'}
{'_id': ObjectId('662b4bca487f77713d9c2521'), 'course': ['AI-ML', 'Python', 'English', 'Socialogy', 'Psychology', 'MBA'], 'subject': ['Maths', 'Hindi', 'Sanskrit']}
{'_id': ObjectId('662b4bcc487f77713d9c2522'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('662b4bcc487f77713d9c2523'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('662b4bcc487f77713d9c2524'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('662b4bcc487f77713d9c2525'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('662b4bcc487f77713d9c2526'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('662b4bcc487f77713d9c2527'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('662b4bcc487f77713d9c2528'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('662b4bcc487f77713d9c2529'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('662b4bcc487f77713d9c252a'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('662b4bcc487f77713d9c252b'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('662b4bcc487f77713d9c252c'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('662b4bcc487f77713d9c252d'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('662b4bce487f77713d9c252e'), 'name': 'notebook', 'qty': 50, 'rating': [{'score': 8}, {'score': 9}], 'size': {'height': 11, 'width': 8.5, 'unit': 'in'}, 'status': 'A', 'tags': ['college-ruled', 'perforated']}

In [19]:
random_data = [
    {'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'},
    {'_id': '4', 'companyName': 'iNeuron', 'Faculty': 'ABC'},
    {'_id': '5', 'companyName': 'iNeuron', 'Faculty': 'PQR'},
]

In [20]:
col1.insert_many(random_data)

BulkWriteError: batch op errors occurred, full error: {'writeErrors': [{'index': 0, 'code': 11000, 'errmsg': 'E11000 duplicate key error collection: test.new_record index: _id_ dup key: { _id: "3" }', 'keyPattern': {'_id': 1}, 'keyValue': {'_id': '3'}, 'op': {'_id': '3', 'companyName': 'iNeuron', 'Faculty': 'XYZ'}}], 'writeConcernErrors': [], 'nInserted': 0, 'nUpserted': 0, 'nMatched': 0, 'nModified': 0, 'nRemoved': 0, 'upserted': []}

In [21]:
for i in col1.find():
    print(i)

{'_id': ObjectId('662a9221a322ef8ed2f195ce'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('662a9221a322ef8ed2f195cf'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('662a9221a322ef8ed2f195d0'), 'companyName': 'pwskills', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'pwskills', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'pwskills', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'pwskills', 'Faculty': 'PQR'}
{'_id': ObjectId('662b3ce0c0c8d54b83627b15'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('662b3ce0c0c8d54b83627b16'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('662b3ce0c0c8d54b83627b17'), 'companyName': 'pwskills', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': ObjectId('662b4bd2487f77713d9c252f'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('662b4bd2487f77713d9c2530'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('662b4bd2487f77713d9c2531'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [22]:
col1.find_one() # to find the first record

{'_id': ObjectId('662a9221a322ef8ed2f195ce'),
 'companyName': 'pwskills',
 'product': 'Affordable AI',
 'courseOffered': 'Machine Learning with Deployment'}

In [23]:
#Where companyName is iNeuron then it will provide us the data for this we have to provide the record in the dictionary format.

for i in col1.find({'companyName': 'iNeuron'}):   
    print(i)

{'_id': ObjectId('662b4bd2487f77713d9c252f'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('662b4bd2487f77713d9c2530'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('662b4bd2487f77713d9c2531'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [24]:
# '$gte' is greater than or equal to 4 condition if we have to check in Mongo DB then we can use the below syntax.

for i in col1.find({'_id': {'$gte' : '4'}}):   
    print(i)

{'_id': '4', 'companyName': 'pwskills', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'pwskills', 'Faculty': 'PQR'}

In [25]:
# To change the companyName to Pwskills from iNeuron, we can use "update_one" to update the very first record and we can use "update_many" to update all the records.

col1.update_one({'companyName': 'iNeuron'}, {"$set":{'companyName': 'pwskills'}})

In [26]:
for i in col1.find({'companyName': 'iNeuron'}):   
    print(i)

{'_id': ObjectId('662b4bd2487f77713d9c2530'), 'companyName': 'iNeuron', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('662b4bd2487f77713d9c2531'), 'companyName': 'iNeuron', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [27]:
for i in col1.find({'companyName': 'pwskills'}):   
    print(i)

{'_id': ObjectId('662a9221a322ef8ed2f195ce'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('662a9221a322ef8ed2f195cf'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('662a9221a322ef8ed2f195d0'), 'companyName': 'pwskills', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'pwskills', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'pwskills', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'pwskills', 'Faculty': 'PQR'}
{'_id': ObjectId('662b3ce0c0c8d54b83627b15'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('662b3ce0c0c8d54b83627b16'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('662b3ce0c0c8d54b83627b17'), 'companyName': 'pwskills', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': ObjectId('662b4bd2487f77713d9c252f'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}

In [28]:
col1.update_many({'companyName': 'iNeuron'}, {"$set":{'companyName': 'pwskills'}})

In [29]:
for i in col1.find({'companyName': 'iNeuron'}):   
    print(i)

In [30]:
for i in col1.find({'companyName': 'pwskills'}):   
    print(i)

{'_id': ObjectId('662a9221a322ef8ed2f195ce'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('662a9221a322ef8ed2f195cf'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('662a9221a322ef8ed2f195d0'), 'companyName': 'pwskills', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': '3', 'companyName': 'pwskills', 'Faculty': 'XYZ'}
{'_id': '4', 'companyName': 'pwskills', 'Faculty': 'ABC'}
{'_id': '5', 'companyName': 'pwskills', 'Faculty': 'PQR'}
{'_id': ObjectId('662b3ce0c0c8d54b83627b15'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('662b3ce0c0c8d54b83627b16'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('662b3ce0c0c8d54b83627b17'), 'companyName': 'pwskills', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}
{'_id': ObjectId('662b4bd2487f77713d9c252f'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('662b4bd2487f77713d9c2530'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Deep Learning for NLP and Computer vision'}
{'_id': ObjectId('662b4bd2487f77713d9c2531'), 'companyName': 'pwskills', 'product': 'Master Program', 'courseOffered': 'Data Science Masters Program'}

In [31]:
# If we want to drop the collection then we can use drop method on collection name.

coll_cr.drop()

To study in detail about Mongo DB: https://www.slingacademy.com/article/mongodb-remove-method-explained-with-examples/

In [32]:
for i in col1.find({'courseOffered': 'Machine Learning with Deployment'}):
    print(i)

{'_id': ObjectId('662a9221a322ef8ed2f195ce'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('662b3ce0c0c8d54b83627b15'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('662b4bd2487f77713d9c252f'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}

In [35]:
col1.remove({'courseOffered': 'Machine Learning with Deployment'}, True)

NameError: name 'courseOffered' is not defined

In [43]:
res = col1.delete_one({'companyName': 'pwskills'})
print(res.deleted_count)

1

In [44]:
for i in col1.find({'courseOffered': 'Machine Learning with Deployment'}):
    print(i)

{'_id': ObjectId('662b3ce0c0c8d54b83627b15'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}
{'_id': ObjectId('662b4bd2487f77713d9c252f'), 'companyName': 'pwskills', 'product': 'Affordable AI', 'courseOffered': 'Machine Learning with Deployment'}

In [45]:
result = col1.delete_many({'courseOffered': 'Machine Learning with Deployment'})
print(result.deleted_count)

2

In [46]:
for i in col1.find({'courseOffered': 'Machine Learning with Deployment'}):
    print(i)